<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас - Тролейбусний парк міста Д</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="wrapper header-content">
            <h1 class="header-title">Тролейбусний парк міста Д</h1>
            <nav>
                <a href="login.html" class="login-btn">Увійти</a>
                <a href="terms_of_service.html">Умови користування</a>
                <a href="faqs.html">FAQ</a>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <main>
            <h2>Про нас</h2>
            <p>Тролейбусний парк міста Д - це сучасна система управління транспортними ресурсами, створена для
                оптимізації роботи транспортного підприємства. Наше програмне забезпечення дозволяє контролювати та
                організовувати роботу водіїв на маршрутах, розраховувати відпрацьовані години та забезпечувати доступ до
                звітності для різних ролей користувачів.</p>

            <p>Завдяки нашій системі, водії та персонал транспортного відділу мають доступ до зручної платформи для
                контролю та підрахунку відпрацьованих годин. Власники компанії отримують доступ до загальної звітності
                для контролю роботи персоналу та оптимізації процесів управління.</p>

            <p>Наша система розроблена з урахуванням українського законодавства та стандартів КЗПП, що гарантує повну
                відповідність вимогам щодо робочого часу та умов праці водіїв. Система автоматично розраховує сумарні
                години роботи на маршруті, використовуючи інтервали між зупинками та враховуючи необхідні перерви.</p>

            <p>Для забезпечення точності та надійності нашої системи, ми використовуємо сучасні технології, такі як GPS,
                для відстежування водіїв під час маршруту. Все це забезпечує максимальну ефективність управління
                транспортними ресурсами та сприяє поліпшенню якості обслуговування пасажирів.</p>
            <p>Тролейбусний парк міста Д пропонує зручний та інтуїтивно зрозумілий інтерфейс для користувачів. Наш сайт
                підтримує українську мову, що робить його доступним для широкого кола користувачів. Ми прагнемо надати
                нашим клієнтам найкращі інструменти для управління транспортним бізнесом, зосереджуючись на високій
                якості обслуговування та задоволенні потреб користувачів.</p>

            <p>Дякуємо, що вибрали Тролейбусний парк міста Д. Ми сподіваємось, що наша система стане вашим надійним
                партнером у вирішенні питань управління транспортним підприємством. Якщо у вас виникнуть питання або
                потреба у підтримці, звертайтеся до нас через сторінку <a href="contact.html" class = "ink">"Контакти"</a>.</p>
        </main>
    </div>
    <footer>
        <div class="footer-links">
            <a href="about.html">Про нас</a>
            <a href="contact.html">Контакти</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="privacy_policy.html">Політика конфіденційності</a>
        </div>
        <p>&copy; Тролейбусний парк міста Д. Всі права захищені.</p>
    </footer>
</body>

</html>