/* login.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    flex: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.login-container {
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
}

/* .login-container {
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

input[type="text"],
input[type="password"] {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 0.1rem;
    width: 97%;
}

.login-form-btn {
    background-color: #5f9ea0;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.register-link {
    text-align: center;
    margin-top: 1rem;
    display: block;
}

.register-link a {
    color: #5f9ea0;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.login-form-btn:hover {
    background-color: #333;
} 


@media screen and (max-width: 600px) {
    .login-container {
        width: 80%;
        box-sizing: border-box;
        padding: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 0.9rem;
        width: 100%;
    }

    label {
        font-size: 0.9rem;
    }

    .login-form-btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}