<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти - Тролейбусний парк міста Д</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
<header>
    <div class="wrapper header-content">
        <h1 class="header-title">Тролейбусний парк міста Д</h1>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="logout" class="login-btn">Вийти</a>
            {% else %}
                <a href="login.html" class="login-btn">Увійти</a>
            {% endif %}

            <a href="main.html" class="login-btn">Профіль</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="faqs.html">FAQ</a>
        </nav>
    </div>
</header>
<div class="wrapper">
    <main>
        <h2>Контакти</h2>
        <p>З будь-якими питаннями чи пропозиціями, будь ласка, звертайтеся до нас за допомогою наших електронних
            адрес:</p>
        <ul>
            <li><a href="mailto:falendysh2010@gmail.com">・falendysh2010@gmail.com</a></li>
            <li><a href="mailto:homenko0240@gmail.com">・homenko0240@gmail.com</a></li>
            <li><a href="mailto:andrey.shmiglov@gmail.com">・andrey.shmiglov@gmail.com</a></li>
            <li><a href="mailto:tantisch04@gmail.com">・tantisch04@gmail.com</a></li>
            <li><a href="mailto:iantisch03@gmail.com">・iantisch03@gmail.com</a></li>
        </ul>
    </main>
</div>
<footer>
    <div class="footer-links">
        <a href="about.html">Про нас</a>
        <a href="contact.html">Контакти</a>
        <a href="terms_of_service.html">Умови користування</a>
        <a href="privacy_policy.html">Політика конфіденційності</a>
    </div>
    <p>&copy; Тролейбусний парк міста Д. Всі права захищені.</p>
</footer>
</body>

</html>
