<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - Тролейбусний парк міста Д</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="wrapper header-content">
            <h1 class="header-title">Тролейбусний парк міста Д</h1>
            <nav>
                <a href="login.html" class="login-btn">Увійти</a>
                <a href="logout" class="login-btn">Вийти</a>
                <a href="main.html" class="login-btn">Профіль</a>
                <a href="terms_of_service.html">Умови користування</a>
                <a href="faqs.html">FAQ</a>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <main>
            <h2>FAQs</h2>
            <h3>What is TrolleyBus Central?</h3>
            <p>TrolleyBus Central is a platform for managing trolleybus drivers, directors, and owners. It allows users
                to view and update their paths, schedules, and other relevant information.</p>
            <h3>How do I create an account?</h3>
            <p>Contact your organization's administrator to request an account. They will provide you with the necessary
                information to log in and access your dashboard.</p>

            <h3>How can I update my path or schedule?</h3>
            <p>Log in to your account and navigate to your dashboard. From there, you can view and modify your path and
                schedule, subject to approval from your organization's director or owner.</p>

            <h3>What should I do if I encounter an issue with my account?</h3>
            <p>If you experience any issues with your account, please contact our support team at <a
                    href="contact.html" class="link">contacts</a> for
                assistance.</p>
        </main>
    </div>
    <footer>
        <div class="footer-links">
            <a href="about.html">Про нас</a>
            <a href="contact.html">Контакти</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="privacy_policy.html">Політика конфіденційності</a>
        </div>
        <p>&copy; Тролейбусний парк міста Д. Всі права захищені.</p>
    </footer>
</body>

</html>