<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Увійти</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<header>
    <div class="wrapper header-content">
        <h1 class="header-title">Тролейбусний парк міста Д</h1>
        <nav>
            {% if user.is_authenticated  %}
                <a href="logout" class="login-btn">Вийти</a>
            {% else %}
                <a href="login.html" class="login-btn">Увійти</a>
            {% endif %}
            <a href="main.html" class="login-btn">Профіль</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="faqs.html">FAQ</a>
        </nav>
    </div>
</header>
<div class="wrapper">
    <main>
        <div class="login-container">

            {# place for message of successful registration #}
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endwith %}
            {#                #}

            <h2>Вхід до особистого кабінету</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button class="login-form-btn">Увійти</button>
            </form>
            <div class="register-link">
                <a href="register.html">Зареєструватися</a>
            </div>
        </div>
    </main>
</div>
<footer>
    <div class="footer-links">
        <a href="about.html">Про нас</a>
        <a href="contact.html">Контакти</a>
        <a href="terms_of_service.html">Умови користування</a>
        <a href="privacy_policy.html">Політика конфіденційності</a>
    </div>
    <p>&copy; Тролейбусний парк міста Д. Всі права захищені.</p>
</footer>
</body>
</html>