<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація для власника</title>
    <link rel="stylesheet" href="../static/main.css">
    </style>
</head>
<body>
<header>
    <div class="wrapper header-content">
        <h1 class="header-title">Тролейбусний парк міста Д</h1>
        <nav>
            <a href="logout" class="login-btn">Вийти</a>
            <a href="main.html" class="login-btn">Профіль</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="faqs.html">FAQ</a>
        </nav>
    </div>
</header>
<div class="wrapper">
    <main>
        <h2>Інформація для власника</h2>
        <p>Ласкаво просимо, шановний
            <strong>{{ current_user.name }} {{ current_user.surname }} {{ current_user.surname2 }}</strong></p>
        {#            <p>Ви маєте доступ до всієї звітності компанії:</p>#}
        <h3>Працівники транспортного відділу:</h3>
        <!-- this <ul> </ul> has to be generated -->
        <ul>
            {% for director in directors %}
                <li><a href="{{ directors_urls[loop.index0] }}" class="link">Інформація про
                    Працівника транспортного відділу
                    <strong>{{ director.name }} {{ director.surname }} {{ director.surname2 }}</strong></a></li>
            {% endfor %}
        </ul>
        <p>Зверніть увагу, що ваші працівники відповідальні за підрахунок відпрацьованих годин водіїв.</p>
        <h3>Працівники у який немає ролей:</h3>
        <!-- this <ul> </ul> has to be generated -->
        <ul>
            {% for user in no_role_users %}
                <li><a href="{{ no_role_users_urls[loop.index0] }}" class="link">Інформація про
                    водія <strong>{{ user.name }} {{ user.surname }} {{ user.surname2 }}</strong></a></li>
            {% endfor %}
        </ul>
    </main>
</div>
<footer>
    <div class="footer-links">
        <a href="about.html">Про нас</a>
        <a href="contact.html">Контакти</a>
        <a href="terms_of_service.html">Умови користування</a>
        <a href="privacy_policy.html">Політика конфіденційності</a>
    </div>
    <p>&copy; Тролейбусний парк міста Д. Всі права захищені.</p>
</footer>
</body>
</html>