<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Політика конфіденційності - Тролейбусний парк міста Д</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>
        <div class="wrapper header-content">
            <h1 class="header-title">Тролейбусний парк міста Д</h1>
            <nav>
                <a href="login.html" class="login-btn">Увійти</a>
                <a href="logout" class="login-btn">Вийти</a>
                <a href="main.html" class="login-btn">Профіль</a>
                <a href="terms_of_service.html">Умови користування</a>
                <a href="faqs.html">FAQ</a>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <main>
            <h2>Політика конфіденційності</h2>
            <p>Тролейбусний парк міста Д дбає про вашу конфіденційність. Ми збираємо та обробляємо особисті дані відповідно до вимог законодавства.</p>
            <p>Ми збираємо персональні дані для:</p>
            <ul>
                <li>・створення та управління обліковими записами користувачів;</li>
                <li>・підрахунку та відстеженню відпрацьованих годин водіїв;</li>
                <li>・забезпечення підтримки та вирішення проблем;</li>
                <li>・аналізу та вдосконалення сервісів.</li>
            </ul>
            <p>Ми використовуємо смартфони та GPS для відстеження роботи водіїв під час маршруту. Відомості про місцезнаходження збираються лише під час робочих годин.</p>
            <p>Для питань щодо політики конфіденційності, звертайтеся за адресою: <a href="mailto:iantisch03@gmail.com" class="link">iantisch03@gmail.com</a></p>
        </main>
    </div>
    <footer>
        <div class="footer-links">
            <a href="about.html">Про нас</a>
            <a href="contact.html">Контакти</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="privacy_policy.html">Політика конфіденційності</a>
</div>
<p>© Тролейбусний парк міста Д. Всі права захищені.</p>
</footer>

</body>
</html>