<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умови користування - Тролейбусний парк міста Д</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="wrapper header-content">
            <h1 class="header-title">Тролейбусний парк міста Д</h1>
            <nav>
                <a href="login.html" class="login-btn">Увійти</a>
                <a href="logout" class="login-btn">Вийти</a>
                <a href="main.html" class="login-btn">Профіль</a>
                <a href="terms_of_service.html">Умови користування</a>
                <a href="faqs.html">FAQ</a>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <main>
            <h2>Умови користування</h2>
            <p>Ці Умови користування регулюють ваше використання сайту Тролейбусний парк міста Д. Будь ласка, уважно
                ознайомтеся з ними перед використанням сайту.</p>
            <h3>1. Реєстрація та обліковий запис</h3>
            <p>Для створення облікового запису зверніться до адміністратора вашої організації. Ви погоджуєтеся надавати
                точну та актуальну інформацію про себе та вчасно оновлювати її.</p>
            <h3>2. Відповідальність користувачів</h3>
            <p>Ви відповідаєте за всі дії, що здійснюються через ваш обліковий запис. У разі виявлення несанкціонованого
                використання облікового запису, негайно повідомте адміністратора.</p>
            <h3>3. Обмеження відповідальності</h3>
            <p>Тролейбусний парк міста Д не несе відповідальності за збитки, втрати чи інші претензії, що виникають в
                результаті використання сайту або неможливості його використання.</p>
            <h3>4. Зміни в Умовах користування</h3>
            <p>Тролейбусний парк міста Д залишає за собою право вносити зміни в Умови користування в будь-який час. Вам
                рекомендується періодично перевіряти цю сторінку, щоб бути в курсі змін. Продовжуючи користуватися
                сайтом після внесення змін, ви підтверджуєте свою згоду з новими умовами.</p>
            <h3>5. Заборона порушення авторських прав</h3>
            <p>Весь контент, включаючи текст, графіку, логотипи, зображення та програмне забезпечення, що розміщені на
                сайті, є власністю Тролейбусного парку міста Д або його постачальників та захищені законодавством про
                авторські права. Ви зобов'язуєтесь не копіювати, розповсюджувати, відтворювати або передавати будь-який
                матеріал з сайту без письмової згоди власника авторських прав.</p>
            <h3>6. Зворотній зв'язок та скарги</h3>
            <p>Якщо у вас виникли питання, скарги або пропозиції щодо сайту, будь ласка, звертайтеся за адресою 
                <a href="mailto:iantisch03@gmail.com" class="link">iantisch03@gmail.com</a>.</p>
        </main>
    </div>
    <footer>
        <div class="footer-links">
            <a href="about.html">Про нас</a>
            <a href="contact.html">Контакти</a>
            <a href="terms_of_service.html">Умови користування</a>
            <a href="privacy_policy.html">Політика конфіденційності</a>
        </div>
        <p>© Тролейбусний парк міста Д. Всі права захищені.</p>
    </footer>

</body>

</html>