<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - TrolleyBus Central</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <nav>
            <h1>TrolleyBus Central</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Contact Us</h2>
        <p>For any inquiries or support, please contact our team members:</p>
        <ul>
            <li><a href="mailto:tantisch04@gmail.com">tantisch04@gmail.com</a></li>
            <li><a href="mailto:iantisch03@gmail.com">iantisch03@gmail.com</a></li>
            <li><a href="mailto:homenko0240@gmail.com">homenko0240@gmail.com</a></li>
            <li><a href="mailto:andrey.shmiglov@gmail.com">andrey.shmiglov@gmail.com</a></li>
            <li><a href="mailto:falendysh2010@gmail.com">falendysh
